header {
  background-color: var(--primary-base);
  color: var(--text-color);
  padding-block-start: 2rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-end: 2rem;
}

header > h1 {
  margin-block-start: 0;
  font-size: 3rem;
}

.header-base {
  text-align: center;
  font-size: 3.5rem;
}

button + button {
  margin-inline-start: 1rem;
}

.book-title{
  font-size: 2rem;
  --gap: 1rem;
}

.book-icon {
  width: 50px;
  border-radius: 50%;
}

.custom-hr {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}